#tracker {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

#input {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.divider {
  grid-area: 3 / 1 / 4 / 5;
}

.divide {
  grid-area: 4 / 4;
}

.multiply {
	grid-area: 5 / 4;
}

.add {
	grid-area: 6 / 4;
}

.sum {
	grid-area: 8 / 4 / 8 / 5;
}

#clr {
	grid-area: 7 / 1;
}